.kanban-board {
  display: flex;
  height: 90vh;
  /* padding: 20px; */
  overflow-x: hidden;
}

.columns {
  display: flex;
  width: 100%;
}

.no-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.5;
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  .kanban-board {
    flex-direction: column;
    height: auto;
  }
  .add-task {
    height: 100vh;
  }
  .columns {
    flex-direction: column;
  }
  .no-task {
    height: 100vh;
  }
}