/* Modal styles */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.edit-task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.edit-task-container > div {
  margin: 5px;
}

.edit-task-container button {
  margin: 10px 10px 0px 0px;
  max-width: 100px;
}
