/* Modal styles */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  outline: none;
}
